@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto');

body{
    background-image: url("../images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 60%;
}

.titel{
    font-family: 'Playfair Display', serif;
    color: blue;
    margin-top: 30%;
}

h1, h2{
    margin: 0 auto;
}

h1{
    font-size: 48pt;
}

h2{
    font-size: 36pt;
    font-weight: 400;
}

p{
    font-family: 'Roboto', sans-serif;
}